<div class="container-sign-in">
  <div class="panel panel-sign-in">
    <div class="panel-heading">
      <div class= "header-wrapper">
        <p id="header">Edit your profile</p>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>

            <%= f.text_field :name, placeholder:"username", autocomplete: "off", class:"input-field" %>
            <%= f.email_field :email, placeholder:"e mail", class:"input-field"%>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <%= f.password_field :password, autocomplete: "off", placeholder: "Change Password", class:"input-field" %>
            <% if @minimum_password_length %>
              <br />
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>


            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm new password", class:"input-field" %>


          <div class="field">

            <%= f.password_field :current_password, autocomplete: "off", placeholder: "Current Password to confirm changes", class:"input-field" %>
          </div>

          <%= f.label "Add a profile picture" %>
          <%= f.file_field :avatar%>

          <div class="actions">
            <%= f.submit "Update" %>
          </div>
        <% end %>
        <p><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
      </div>
    </div>
  </div>
</div>
