<div class="container-sign-in">
  <div class="panel panel-sign-in">
    <div class="panel-heading">
      <div class= "header-wrapper">
        <p id="header">Sign up for Medici</p>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :full_name %>
        <%= f.text_field :first_name, placeholder: "first name", class:"input-field", :required => true%>
        <%= f.text_field :last_name, placeholder: "last name", class:"input-field", :required => true%>
        <%= f.email_field :email, placeholder:"email", class:"input-field"%>
        <%= f.password_field :password, placeholder:"password", autocomplete: "off", class:"input-field" %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password_confirmation, placeholder:"confirm", autocomplete: "off", class:"input-field" %>
        <%= f.label "Add a profile picture" %>
        <%= f.file_field :avatar%>
        <%= f.submit "Sign up", class:"input-button"%>
        <% end %>
        <div class= "or-wrapper">
           <i><span>or</span></i>
        </div>
        <div class="btn-group" role="group" aria-label="connect with faceboobs">
          <%= button_to user_facebook_omniauth_authorize_path, class: "btn btn-primary facebook-connect" do %> <i class="fa fa-facebook-square" style= "color: white;" aria-hidden="true"></i>  Connect with Facebook <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
