<!-- <h2>Questions? Comments? Contact us at <%= mail_to "info@medicimuseums.com" %></h2>
 -->
<%= image_tag("Medici_logos/Medici_logo_Inset.png",class: "hidden-xs" ,id: "about-logo")%>
<div class= "about-header">
	<p>
		At Medici, we believe you’re either a current or future museum person. We get you on-demand access to fun, under the radar exhibitions, events, and experiences happening in cultural centers locally and beyond. Grab your friends and discover some of the most storied museum collections in the world.See the city you love through fresh eyes or go explore a new one. Meet other cool, curious people along the way. Medici isn’t the destination. Medici is your ticket to changing how you museum.
	</p>
</div>

<div class= "about-row">
	<div class= "about-wrapper">
		<div class="thumbnail about-thumbnail">
			<%= image_tag("Staff_Images/maggiemalone.jpg")%>
			<div class= "caption">
				<div class="thumbnail-header">
				<h5> Maggie Malone</h5>
				<h5>Founder, CEO</h5>
				<p>Maggie is a second generation publisher and an experienced entrepreneur with over 30 years in the business, her resume is as long as it is interesting. As the President of Cultural Media, a publishing company that focuses on monetizing museum member magazines, Maggie knows a thing or two about cultural institutions. With Medici, she’s determined to help others change the way they museum.</p>
			</div>
			</div>
		</div>
	</div>
	<div class= "about-wrapper">
		<div class="thumbnail about-thumbnail">
			<%= image_tag("Staff_Images/lizzieamundsen.png")%>
			<div class= "caption">
				<div class="thumbnail-header">
				<h5> Lizzie Amundsen</h5>
				<h5>Co-Founder, Director</h5>
				<p>Lizzie is the brains of the operation. A communication superstar, Lizzie tirelessly manages our museum 
				relationships and is constantly on the lookout for new opportunities to improve museum experiences for our 
				community of users. As the glue that holds Medici together, she turns our can’ts into cans and our dreams 
				into plans. Or something. We stole that from Pinterest.</p>
			</div>
			</div>
		</div>
	</div>
<div class= "about-wrapper">
		<div class="thumbnail about-thumbnail">
			<%= image_tag("Staff_Images/laurenwiley.jpg")%>
			<div class= "caption">
				<div class="thumbnail-header">
				<h5> Lauren Wilie</h5>
				<h5>Community Manager</h5>
				<p>Lauren is an unapologetic museum geek with a knack for narrative and planning rogue adult programming. She studied art and education before blending both at the School of the Art Institute of Chicago. Now, she waxes poetic professionally in hopes that she’ll turn even the most stubborn skeptics into museum people.
				<br><br><br>
				</p>
			</div>
			</div>
		</div>
	</div>
	<div class= "about-wrapper">
		<div class="thumbnail about-thumbnail">
			<%= image_tag("Staff_Images/pete.jpg")%>
			<div class= "caption">
				<div class="thumbnail-header">
				<h5>Pete Nichols</h5>
				<h5>Front-end Developer</h5>
				<p>Pete makes us look good. A graduate of the School of the Art Institute of Chicago with a concentration in the Art and Technology departement. he’s our obsessively detail oriented front end designer by day. By night, he’s a virtual dragon slayer. His most prized possession is his headset.</p>
				<br><br>
			</div>
			</div>
		</div>
	</div>
	<div class= "about-wrapper">
		<div class="thumbnail about-thumbnail">
			<%= image_tag("Staff_Images/scottsouthard.jpg")%>
			<div class= "caption">
				<div class="thumbnail-header">
				<h5> Scott Southard</h5>
				<h5>Back-end Developer</h5>
				<p>Scott is infatuated with new avenues of creation, whether they're digital, analog, or somewhere in between. He spent years studying English (to be honest, he never really stopped) and spreading coffee around the city. Since then, he's turned his attention to making the internet a better place through his masterful user experience wizardry.<br></p>
			</div>
			</div>
		</div>
	</div>
</div>














