
    <%= form_tag(exhibits_search_show_path, :method => "get", id: "search-form") do %>
      <i class="fa fa-search" aria-hidden="true" style="font-size: 20px"></i>
      <div class="main-search">
        <%= text_field_tag :search, params[:search], placeholder: "Search" %>
      </div>
      <ul class="tags-list">
        <% @tags.each do |tag| %>
          <li>
            <div class="btn-link tag-btn">
              <label class="btn tag-button tag-list">
            <%= check_box_tag "tag_search[]", tag.name %>
              <%= "##{tag.name}" %>
            </label>
            </div>
          </li>
        <% end %>
      </ul>
      <%= select_tag "any_or_all", "<option>Any</option><option>All</option>".html_safe %>
      <div class="input-group">
        <%= submit_tag "Search", class: "input-button"%>
      </div>
    <% end %>
