
<% if admin? %>
  <%= link_to "Add Exhibit Tags", "#{@exhibit.id}/tagging" %>
  <%= link_to "Edit Exhibit", edit_exhibit_path %>
<% end %>
<div class="panel panel-exhibit-show">
	<div class="panel-heading">
		<div class="row panel-row">
			<div class= "image-featured col-md-4">
				<%= image_tag @exhibit.photo.url(:large) %>
				<%= form_for @museum, class: "pricing", remote: true do |f| %>
			    	<h4>Tickets: $20-36</h4>
			    	<div class="input-group">
				    	<div class="input-group-btn">
				        	<%= f.submit "Add to Cart", class: "input-button" %>
				    	</div>
					</div>
				 <% end %>  
			</div>
			<div class= "col-lg-8" >
				<div class="row">
					<div class= "description-wrapper col-md-8 col-lg-12">
						<h2><%= @exhibit.name %></h2>
						<h4 class= "dates"><i class="fa fa-calendar" aria-hidden="true"></i> <%=@exhibit.start_date.strftime("%B, %d")%> - <%= @exhibit.end_date.strftime("%B, %d %Y") %></h4>
						<p><%= @exhibit.description %></p>
					</div>
				</div>
				<div class="row">
					<div class= "col-xs-4 geo-location">
						<%= image_tag("map.JPG")%>
					</div>	
					<div class= "col-xs-8 museum-info-wrapper">
						<h3><%= link_to "#{@museum.name}", @museum, class: "venue"%></h3> 
						<div class= "museum-info">
							<p class= "museum-info-type"> Address:</p>
							<p class= "museum-info-entry"> 1600 Pennsylvania Ave NW, Washington, DC</p>
						</div>
						<div class= "museum-info">
							<p class= "museum-info-type"> Hours:</p>
							<p class= "museum-info-entry"> Daily: 10:30am - 5:30pm, CST</p>
						</div>
						<div class= "museum-info">
							<p class= "museum-info-type">Website:</p>
							<p class= "museum-info-entry"> whitehouse.gov</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		<div class="panel-body">
			<i class="fa fa-share-square-o icon-link" aria-hidden="true"></i>
			<i class="fa fa-bookmark-o icon-link" aria-hidden="true"></i>
			<div class="tag-wrapper">
				<button type="button" class="btn btn-default tag-button">#Modern</button>
				<button type="button" class="btn btn-default tag-button">#Indistrial-Design</button>
				<button type="button" class="btn btn-default tag-button">#Kid-Freindly</button>
			</div>
	</div>
</div>
