<% if admin? %>
  <%= link_to "Add Exhibit Tags", "#{@exhibit.id}/tagging" %>
  <%= link_to "Edit Exhibit", edit_exhibit_path %>
<% end %>

<%= render "shared/post_show_row", exhibit: @exhibit, museum: @museum, ticket: @ticket  %>

<% if @related_exhibits.length > 0 %>
  <h2> Related Exhibits </h2>
  <div class= "row masonry-container">
    <% @related_exhibits.each do |event| %>
      <% if event.is_a?(Exhibit) %>
				<%= render "museums/exhibit_row", post: event, ticket: @ticket %>
			<% elsif event.is_a?(Event) %>
				<%= render "museums/event_row", post: event, ticket: @ticket %>
			<% elsif event.is_a?(Museum) %>
				<%= render "museums/museum_row", post: event, ticket: @ticket %>
			<% elsif event.is_a?(Piece) %>
				<%= render "museums/piece_row", post: event, ticket: @ticket %>
			<% end %>
    <% end %>
  </div>
<% end %>
