<h2> Welcome <%= current_user.name %>!</h2>
<% if current_user.tags == [] %>
<h4> Customize your experience - <%= link_to "Add Interests", "#{current_user.id}/tagging" %></h4>
<h3>Museums for you:</h3>
	<div class="row masonry-row">
		<% @all_posts.shuffle.each do |post| %>
		<%= render "museums/museum_row", post: post, ticket: @ticket  %>
		<% end %>
	</div>
<% else %>

<div class="panel-body">
	<h4> Your current interests:</h4>
	<div class="interest-link">	
		<%= link_to "Change Interests", "#{current_user.id}/tagging" %>
	</div>
		<div class="tag-wrapper-user">
			<% current_user.tags.each do |tag| %>
				<div class="btn-link">
					<%= link_to(tag) do %>
						<button type="button" class="btn btn-default tag-button tag-list"><%="##{tag.name}"%></button>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
	<div class="row masonry-row">
		<% @posts.shuffle.each do |post| %>
		<%= render "museums/museum_row", post: post, ticket: @ticket  %>
		<% end %>
	</div>

<% end %>
