<div class="panel panel-exhibit-show">
	<div class="panel-heading">
		<div class="row panel-row">
			<div class= "image-featured col-md-4">
				<%= image_tag exhibit.photo.url(:large) %>
	    	<h4>Tickets: $<%= '%i' % exhibit.price%></h4>
				<% if current_user && museum.is_a?(Event)%>
					<% if current_order.tickets.length > 0 %>
						<div class="input-group-btn">
							<%= link_to "Check Out", cart_path(id: current_user.id), class: "input-button" %>
						</div>
					<% else %>
				    <%= form_for ticket, remote: true do |f| %>
				      <div class="input-group">
				        <div class="input-group-btn">
				          <%= f.hidden_field :quantity, value: 1%>
				          <%= f.hidden_field :event_id, value: museum.id %>
				          <%= f.hidden_field :user_id, value: current_user.id %>
				          <%= f.submit "Add to Cart", class: "input-button" %>
				        </div>
				      </div>
				    <% end %>
					<% end %>
				<% elsif museum.is_a?(Event) %>
					<%= link_to "Sign in to buy tickets!", new_user_session_path, class: "input-button" %>
				<% else %>
					<a href="https://twitter.com/intent/tweet?screen_name=Medici_App" class="twitter-mention-button" data-text="is guiding my experience at <%= museum.name %>!" data-show-count="false">Tweet</a>
					<iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fwww.facebook.com%2Fmediciapp&layout=button&size=small&mobile_iframe=true&width=59&height=20&appId" width="59" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
				<% end %>
			</div>

			<div class= "col-lg-8" >
				<div class="row">
					<div class= "description-wrapper col-md-8 col-lg-12">
						<h2><%= exhibit.name %></h2>
            <% if exhibit.is_a?(Exhibit) || exhibit.is_a?(Event)%>
  						<h4 class= "dates"><i class="fa fa-calendar" aria-hidden="true"></i> <%=exhibit.start_date.strftime("%B, %d")%> - <%= exhibit.end_date.strftime("%B, %d %Y") %></h4>
            <% end %>

						<p><%= exhibit.description %></p>
					</div>
				</div>
				<div class="row">
					<div class= "col-xs-4 geo-location hidden-xs">
						<div id="map"></div>
					</div>
					<div class= "col-sm-8 col-xs-12 museum-info-wrapper">
						<h3><%= link_to "#{museum.name}", museum, class: "venue"%></h3>
						<div class= "museum-info">
							<p class= "museum-info-type"> Address: </p>

							<p class= "museum-info-entry"> <i class="fa fa-map-pin" aria-hidden="true"></i> <%= link_to museum.address, "http://maps.google.com/?q=#{museum.address}", :target => "_blank" %></p>

						</div>
						<div class= "museum-info">
							<p class= "museum-info-type"> Hours:</p>
							<p class= "museum-info-entry"> <i class="fa fa-clock-o" aria-hidden="true"></i> <%=museum.opening_time.strftime("%I:%M%p")%> - <%=museum.closing_time.strftime("%I:%M%p")%></p>
						</div>
						<div class= "museum-info">
							<p class= "museum-info-type"> Website:</p>
							<p class= "museum-info-entry"> <i class="fa fa-share-square-o" aria-hidden="true" style="padding-top: 7px;"></i><%= link_to museum.website, "http://#{museum.website}"%></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		<div class="panel-body">
			<i class="fa fa-share-square-o icon-link" aria-hidden="true"></i>
			<i class="fa fa-bookmark-o icon-link" aria-hidden="true"></i>
			<div class="tag-wrapper">
        <% exhibit.tags.each do |tag| %>
					<div class="btn-link">
						<%= link_to(tag) do %>
					    <button type="button" class="btn btn-default tag-button"><%="##{tag.name}"%></button>
						<% end %>
					</div>
        <% end %>
			</div>
	</div>
</div>

<script type="text/javascript">
  function buildMap(){
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(12);
    });
  }
  $(window).onload(buildMap())
</script>
