<div class="panel panel-exhibit-show">
	<div class="panel-heading row">
		<div class= "col-md-4 info-container">
			<div id= "feature-image" style= "background-image: url(<%=exhibit.photo.url(:large)%>);">
			</div>
			<% if current_user && museum.is_a?(Event)%>
				<% if museum.end_date >= Date.today %>
					<% if current_order.includes_event_post?(museum.id) && museum.ticketable %>
						<div class="input-group-btn">
							<%= link_to "Complete Your Current Order", cart_path(id: current_user.id), class: "input-button" %>
						</div>
				<% elsif museum.ticketable %>
				    <%= form_for ticket do |f| %>
				      	<div class="input-group">
					        <div class="input-group-btn">
						        <%= f.hidden_field :quantity, value: 1 %>
						        <%= f.hidden_field :event_id, value: museum.id %>
						        <%= f.hidden_field :user_id, value: current_user.id %>
						        <%= f.submit "Add to Cart", class: "input-button" %>
					        </div>
				        </div>
				    <% end %>
				<% end %>
			<% end %>
			<% elsif museum.is_a?(Event) %>
			  <% if museum.end_date > Date.today && museum.ticketable %>
					<%= link_to "Sign in to RSVP", new_user_session_path, class: "input-button" %>
				<% end %>
			<% end %>
			<div class= "museum-info">
				<p class= "museum-info-entry"></i> <%= link_to museum.address, "http://maps.google.com/?q=#{museum.address}", :target => "_blank" %></p>
				<div class="transportation-tooltip">
					<p class= "museum-info-type"> Address:
						<i class="fa fa-info-circle" aria-hidden="true"></i>
					</p>
  					<span class="title tooltiptext">
  						<% if !museum.transportation_info.nil? %>
  							<%= museum.transportation_info %>
  						<% end %>
  					</span>
				</div>
			</div>
			<div class= "museum-info">
				<p class= "museum-info-type"> Hours:</p>
				<% if museum.opening_time != museum.closing_time %>
					<p class= "museum-info-entry">&or;</i> <%=museum.opening_time.strftime("%I:%M%p")%> - <%=museum.closing_time.strftime("%I:%M%p")%></p>
				<% else %>
					<p class= " extra-hours"> <i class="fa fa-clock-o" aria-hidden="true"></i>
						Sunday: <%=museum.sun_open.strftime("%I:%M%p")%> - <%=museum.sun_close.strftime("%I:%M%p")%></p>
					<p class= " extra-hours">
						Monday: <%=museum.mon_open.strftime("%I:%M%p")%> - <%=museum.mon_close.strftime("%I:%M%p")%>
					</p>
					<p class= " extra-hours">
						Tuesday: <%=museum.tue_open.strftime("%I:%M%p")%> - <%=museum.tue_close.strftime("%I:%M%p")%>
					</p>
					<p class= " extra-hours">
						Wednesday: <%=museum.wed_open.strftime("%I:%M%p")%> - <%=museum.wed_close.strftime("%I:%M%p")%>
					</p>
					<p class= " extra-hours">
						Thursday: <%=museum.thu_open.strftime("%I:%M%p")%> - <%=museum.thu_close.strftime("%I:%M%p")%>
					</p>
					<p class= " extra-hours">
						Friday: <%=museum.fri_open.strftime("%I:%M%p")%> - <%=museum.fri_close.strftime("%I:%M%p")%>
					</p>
					<p class= " extra-hours">
						Saturday: <%=museum.sat_open.strftime("%I:%M%p")%> - <%=museum.sat_close.strftime("%I:%M%p")%>
					</p>
				<% end %>
			</div>
			<div class= "museum-info website-info">
				<p class= "museum-info-type"> Site:</p>
				<p class= "museum-info-entry">
					<a href= '<%="http://#{museum.website}"%>'id= "venue-website"target="_blank"  onclick="trackOutboundLink('<%="http://#{museum.website}"%>'); return false;, '_blank'"><%= museum.website %></a>
				</p>
			</div>
		</div>
		<div class= "description-wrapper col-md-8">
			<div class="col-md-11 description">
				<h2><%= exhibit.name %></h2>
				<a class="js-social-share facebook" href="https://www.facebook.com/sharer/sharer.php?u=<%= yield :url %>" target="_blank">
					<i class="fa fa-facebook fa-card" aria-hidden="true"></i>
				</a>
				<a class="js-social-share twitter" href='https://twitter.com/intent/tweet?text=I love @medicimuseums and <%="#{exhibit.name}"%>' target="_blank">
					<i class="fa fa-twitter fa-card" aria-hidden="true"></i>
				</a>
				<% if exhibit.is_a?(Exhibit) && exhibit.permanent %>
					<h4>Permanent Collection at <%= museum.name %></h4>
				<% elsif (exhibit.is_a?(Exhibit) || exhibit.is_a?(Event)) && exhibit.start_date == exhibit.end_date %>
					<h4 class= "dates"><i class="fa fa-calendar" aria-hidden="true"></i> <%=exhibit.start_date.strftime("%B %d, %Y") %></h4>
				<% elsif exhibit.is_a?(Exhibit) || exhibit.is_a?(Event) %>
						<h4 class= "dates"><i class="fa fa-calendar" aria-hidden="true"></i> <%=exhibit.start_date.strftime("%B %d")%> - <%= exhibit.end_date.strftime("%B %d, %Y") %></h4>
				<% end %>
				<p><%= simple_format(exhibit.description) %></p>
				<% if exhibit.price == 0.0 %>
					<p>
						FREE
					</p>
					<% elsif !exhibit.ticketsite.nil? && exhibit.ticketsite != "" %>
							<a target="_blank" class= "input-button" href='<%="http://#{exhibit.ticketsite}"%>' onclick="trackOutboundLink('<%="http://#{exhibit.ticketsite}"%>'); return false;, '_blank'">Tickets: $<%= '%i' % exhibit.price%></a>
					<% else %>
						<h4>Tickets: $<%= '%i' % exhibit.price%></h4>
				<% end %>
			</div>
			<div class= "social col-md-1">
				<div>
				<%= link_to (root_path) do %>
					<i class="fa fa-times back-x hidden-xs"></i>
				<% end %>
				</div>
			</div>
		</div>
  </div>
	<div class="panel-body">
		<div class="tag-wrapper">
				<% exhibit.tags.each do |tag| %>
				<div class="btn-link">
					<%= link_to(tag) do %>
				    <button type="button" class="btn btn-default tag-button"><%="##{tag.name}"%></button>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
</div>
<script type="text/javascript">
  function buildMap(){
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(12);
    });
  }
  $(window).onload(buildMap())
</script>
