<%= form_for (@event), html: {multipart: true} do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :blurb %>
    <%= f.text_field :blurb %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :website %>
    <%= f.text_field :website%>
  </div>

  <div class="field">
    <%= f.label "External website for tickets (if applicable)" %>
    <%= f.text_field :ticketsite %>
  </div>

  <div class="field">
    <%= f.label :start_date %>
    <%= f.date_field :start_date %>
  </div>

  <div class="field">
    <%= f.label :end_date %>
    <%= f.date_field :end_date %>
  </div>

  <div class="field">
    <%= f.label :opening_time %>
    <%= f.time_select :opening_time, {ampm:true, minute_step: 30} %>
  </div>

  <div class="field">
    <%= f.label :closing_time %>
    <%= f.time_select :closing_time, {ampm:true, minute_step: 30}  %>
  </div>

  <div class="field">
    <%= f.label :museum_id %>
    <%= f.collection_select :museum_id, Museum.order(:name), :id, :name, :prompt => true %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>

  <div class="field">
    <%= f.label :max_price %>
    <%= f.number_field :max_price %>
  </div>

  <div class="field">
    <%= f.label :ticketable %>
    <%= f.check_box :ticketable %>
  </div>

  <div class="field">
    <%= f.label :transportation_info %>
    <%= f.text_area :transportation_info %>
  </div>

  <div class="field">
    <%= f.label :photo %>
    <%= f.file_field :photo %>
  </div>


  <div class="actions">
    <%= f.submit "Edit Event"%>
  </div>
<% end %>

<% if @event.errors.any? %>
  <% @event.errors.each do |attribute, message| %>
    <%= attribute %>:
    <%= message %>
  <% end %>
<% end %>

<%= link_to "Delete Event", @event, :method => :delete, :confirm => "You sure?" %>
