<% if admin? %>
  <%= link_to "Add Event Tags", "#{@event.id}/tagging" %>
  <%= link_to "Edit Event", edit_event_path %>
<% end %>


<%= render "shared/post_show_row", exhibit: @event, museum: @event, ticket: @ticket  %>

<h2> Related Events </h2>
<div class= "row masonry-container">
  <% @other_events.each do |event| %>
    <% if event.is_a?(Exhibit) %>
      <%= render "museums/exhibit_row", post: event, ticket: @ticket %>
    <% elsif event.is_a?(Event) %>
      <%= render "museums/event_row", post: event, ticket: @ticket %>
    <% elsif event.is_a?(Museum) %>
      <%= render "museums/museum_row", post: event, ticket: @ticket %>
    <% elsif event.is_a?(Piece) %>
      <%= render "museums/piece_row", post: event, ticket: @ticket %>
    <% end %>
  <% end %>
</div>
