<% if admin? %>
  <%= link_to "Add Piece Tags", "#{@piece.id}/tagging" %>
  <%= link_to "Edit Piece", edit_piece_path %>
<% end %>

<div class="panel panel-exhibit-show">
	<div class="panel-heading">
		<div class="row panel-row">

			<div class= "col-lg-8" >
        <div class="blog-title">
          <h2><%= @piece.name %></h2>
        </div>
        <div class="cyan"></div>
        <div class="magenta"></div>
        <div class="yellow"></div>
				<div class="row">
					<div class= "description-wrapper col-sm-12 col-md-12 col-lg-12">

            <div class= "image-featured col-xs-8  col-sm-6 col-md-6 blog-img">
              <%= image_tag @piece.photo.url(:large) %>
            </div>
						<p class="blog-description"><%= @piece.description %></p>
					</div>
				</div>
				<div class="row">

				</div>
			</div>
		</div>
	</div>
		<div class="panel-body">
			<i class="fa fa-share-square-o icon-link" aria-hidden="true"></i>
			<i class="fa fa-bookmark-o icon-link" aria-hidden="true"></i>
			<div class="tag-wrapper">
        <% @piece.tags.each do |tag| %>
					<div class="btn-link">
						<%= link_to(tag) do %>
					    <button type="button" class="btn btn-default tag-button"><%="##{tag.name}"%></button>
						<% end %>
					</div>
        <% end %>
			</div>
	</div>
</div>
