<table>
  <tr>
    <th>
      Total Users
    </th>
  </tr>

  <tr>
    <td>
      <%= User.all.count %>
    </td>
  </tr>
</table>


<table>
  <tr>
    <th>
      Name
    </th>
    <th>
      Email
    </th>
    <th>
      Quantity
    </th>
  </tr>
  <% @tickets.each do |ticket| %>
  <tr>
      <td>
        <%= ticket.user.name %>
      </td>
      <td>
        <%= ticket.user.email %>
      </td>
      <td>
        <%= ticket.quantity %>
      </td>
  </tr>
  <% end %>

</table>

<table>
  <tr>
    <th>
      Name
    </th>
    <th>
      User Emails
    </th>
    <th>
      Sign-up Date
    </th>
  </tr>
  <% @users.each do |user| %>
<tr>
  <td>
    <%= user.name %>
  </td>
  <td>
    <%= user.email %>
  </td>
  <td>
    <%= user.created_at.strftime("%m/%d") %>
  </td>
</tr>
<% end %>
</table>
