<%= form_for ticket, remote: true do |f| %>
  <p class = "item-name">
<div class= "ticket-sub-row">



  <p class = "item-name">  <%= link_to ticket_path(ticket), method: :delete do%> <i class="fa fa-times"></i><% end %><%= museum.name %></p>
  <% if museum.museum != nil %>
    <h4 style="display : none;"> at <%= museum.museum.name %> </h4>
  <% end %>
  <div class = "ticket-drop-down" id= "drop-select">
    <%= f.select :quantity, (0..12) %>
  </div>
  <h4>$</h4> <h4 class= "unit-price"> <%=ticket.unit_price%></h4><h4>0</h4>
</div>
  <%= f.hidden_field :original_quantity, value: ticket.quantity %>
  <% if museum.is_a?(Museum) %>
    <%= f.hidden_field :museum_id, value: museum.id %>
  <% elsif museum.is_a?(Exhibit) %>
    <%= f.hidden_field :exhibit_id, value: museum.id %>
  <% elsif museum.is_a?(Event) %>
    <%= f.hidden_field :event_id, value: museum.id %>
  <% end %>
  <div class="cart-submit">
    <%= f.submit "Check Out", class: "btn input-button" %>
  </div>
<% end %>
