<div class="container-sign-in">
  <% if !@ticket.nil? && @ticket.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @ticket.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <% if @tickets.size == 0 %>
  <p>
    There are no items in your shopping cart.  Please <%= link_to "go back", root_path %> and add some items to your cart.
  </p>
  <% else %>
  <div class="panel panel-sign-in">
    <div class="panel-heading">
      <div class= "cart-wrapper">
          <% @tickets.each do |ticket| %>
            <% if ticket.exhibit_id != nil%>
              <%= render 'carts/cart_row', museum: ticket.exhibit, ticket: ticket, show_total: true %>
            <% elsif ticket.event_id != nil %>
              <%= render 'carts/cart_row', museum: ticket.event, ticket: ticket, show_total: true %>
            <% else %>
              <%= render 'carts/cart_row', museum: ticket.museum, ticket: ticket, show_total: true %>
              <% ticket.museum.exhibits.each do |exhibit| %>
                <%= form_for ticket, remote: true do |f| %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="coupon">

      </div>

      <div class="panel-body cart-body">
        <input type="CHECKBOX" name="terms" id= "rm-t">
        <label for="rm-t"><span class="checkbox-span"></span>I've read the <br><%= link_to "Terms and Conditions", terms_terms_path %> </label>
         <!-- <h3>$</h3><h3 id='grand-total'>0.00</h3> -->
        <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).on('turbolinks:load', function(){
    $('.cart_form').on('click', function(e){
      if (!$("input[name='terms']").is(':checked')){
        e.preventDefault();
        alert("You must accept the Terms and Conditions")
      }
    });
  });
</script>
