<div class="container-sign-in">
  <% if !@ticket.nil? && @ticket.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @ticket.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <% if @tickets.size == 0 %>
  <p>
    There are no items in your shopping cart.  Please <%= link_to "go back", root_path %> and add some items to your cart.
  </p>
  <% else %>
  <div class="panel panel-sign-in">
    <div class="panel-heading">
      <div class= "cart-wrapper">
        <%= form_tag(tickets_coupons_path, method: "post") do %>
          <% @tickets.each do |ticket| %>
          <%= fields_for "tickets[]", ticket do |f| %>
            <div class= "ticket-sub-row">
              <p class = "item-name">
                <%= link_to ticket_path(ticket), method: :delete do %>
                <i class="fa fa-times"></i>
                <% end %>
              <%= ticket.event.name %></p>
              <div class = "ticket-drop-down" id= "drop-select">
                <%= f.select :quantity, (0..12) %>
              </div>
              <% if ticket.unit_price > 0 %>
                <h4>$</h4><h4 class= "unit-price"> <%=ticket.unit_price%></h4><h4>0</h4>
              <% else %>
                <h4 class= "unit-price">FREE</h4>
              <% end %>
            </div>
            <div class="coupon">
              <%= f.label "Coupon Code" %>
              <%= f.text_field :coupon_code %>
            </div>
            <% end %>
          <% end %>
      </div>
    </div>

    <div class="panel-body cart-body">
      <input type="CHECKBOX" name="terms" id= "rm-t">
      <label for="rm-t"><span class="checkbox-span"></span>I've read the <%= link_to "Terms and Conditions", terms_terms_path %> </label>
       <!-- <h3>$</h3><h3 id='grand-total'>0.00</h3> -->
       <div class="cart-submit hidden-submit">
         <%= submit_tag "Check Out", class: "input-button" %>
       </div>
     <% end %>
    </div>
  </div>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.cart-wrapper form').on('submit', function(e){
      if (!$("input[name='terms']").is(':checked')){
        e.preventDefault();
      }
    });
    $("input[name='terms']").on('click', function(e){
      $('.cart-submit').toggle();
    })
  });
</script>
