<h2>Make a New Tag</h2>

<%= form_for @tag, html: {class: 'backend-form'} do |f| %>
<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name, autofocus: true %>
</div>

<div class="field">
  <%= f.label :category %>
  <%= f.select(:category, @categories) %>
</div>

<div class="field">
  <%= f.submit %>
</div>
<% end %>

<% if @tag_errors %>
  <ul>
  <% @tag_errors.each do |msg| %>
  <li><%=msg%></li>
  <% end %>
  </ul>
<% end %>

<h2>Delete some tag</h2>

<%= form_tag destroy_multiple_tags_path, method: :delete do %>
  <h3>Type of Museum</h3>
  <ul>
    <% @type_museum.each do |tag| %>
      <li><%= check_box_tag "tags[]", tag.id %><%= tag.name %></li>
    <% end %>
  </ul>

  <h3>Type of Art</h3>
  <ul>
    <% @type_art.each do |tag| %>
      <li><%= check_box_tag "tags[]", tag.id %><%= tag.name %></li>
    <% end %>
  </ul>

  <h3>Medium</h3>
  <ul>
    <% @medium.each do |tag| %>
      <li><%= check_box_tag "tags[]", tag.id %><%= tag.name %></li>
    <% end %>
  </ul>
  
  <h3>Misc</h3>
  <ul>
    <% @misc.each do |tag| %>
      <li><%= check_box_tag "tags[]", tag.id %><%= tag.name %></li>
    <% end %>
  </ul>
  <%= submit_tag "Delete selected tags" %>
<% end %>
