<%= link_to post do%>
  <div class="post-wrapper exhibit-panel">
    <div class="thumbnail">
      <%= image_tag(post.photo.url(:large)) %>
      <div class="caption">
        <div class="thumbnail-header">
          <h3><%= post.name %></h3>
          <% if post.respond_to?(:museum_id) && !post.museum_id.nil?%>
            <%= link_to post.museum.name, museum_path(post.museum.id), class: "text-muted museum-name-link" %>
          <% end %>
          <% if post.price == post.museum.price %>
            <p>General Admission</p>
          <% elsif post.price == 0.0 %>
            <p>FREE</p>
          <% else %>
            <p> $<%= '%i' % post.price %></p>
          <% end %>
        </div>
        <p><%= post.blurb %></p>
        <% if post.tags.length > 1 %>
          <%= link_to "##{post.tags[0].name}", post.tags[0], type: "button", class: "btn btn-default tag-button row-tags" %>
        <% end %>
      </div>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-striped" style= "width: 100%"></div>
    </div>
  </div>
<% end %>
