<%= link_to post do %>
  <div class="post-wrapper museum-panel">
    <div class="thumbnail">
      <%= image_tag(post.photo.url(:large)) %>
      <div class="caption">
        <div class="thumbnail-header">
          <h3><%= post.name %></h3>
          <% if post.price == 0.0 %>
            <p>FREE</p>
          <% else %>
          <p> $<%= '%i' % post.price %>
            <% if (defined? post.exhibits.sort.first.price) && post.price != post.exhibits.sort.first.price%>
            - $<%= '%i' %post.exhibits.sort.first.price %>
            <% end %>
          </p>
          <% end %>
        </div>
        <p><%= post.blurb %></p>
        <% if post.tags.length > 1 %>
            <%= link_to "##{post.tags[0].name}", post.tags[0], type: "button", class: "btn btn-default tag-button row-tags" %>
        <% end %>
      </div>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-striped" style= "width: 100%"></div>
    </div>
  </div>
<% end %>
