<div class= "row masonry-container">
	<div class= "col-sm-6 col-lg-6 hidden-xs app-advertisement event-panel post-wrapper">
		<div class="thumbnail">
	       <%= link_to image_tag(@main_post.photo.url(:large)), @main_post %>
	        <div class="caption">
	          <div class="thumbnail-header">
	            <h3><%=link_to @main_post.name, @main_post %></h3>
			        <% if @main_post.price == 0.0 %>
			          <p>
			            FREE
			          </p>
			        <% else %>
			        <p> $<%= '%i' % @main_post.price %>
			        <% end %>
	          </div>
	          <p><%= @main_post.blurb %></p>
	        </div>
					<% if current_user && @main_post.is_a?(Event)%>
						<% if current_order.tickets.length > 0 %>
							<div class="input-group-btn big-button">
								<%= link_to "Check Out", cart_path(id: current_user.id), class: "input-button" %>
							</div>
						<% else %>
							<%= form_for @ticket, remote: true do |f| %>
								<div class="input-group ">
									<div class="input-group-btn big-button">
										<%= f.hidden_field :quantity, value: 1%>
										<%= f.hidden_field :event_id, value: @main_post.id %>
										<%= f.hidden_field :user_id, value: current_user.id %>
										<%= f.submit "Purchase Tickets", class: "input-button" %>
									</div>
								</div>
							<% end %>
						<% end %>
					<% elsif @main_post.is_a?(Event) %>
						<%= link_to "Sign in to buy tickets!", new_user_session_path, class: "input-button" %>
					<% end %>
	      </div>
	      <div class="progress">
      <div class="progress-bar progress-bar-striped" style= "width: 100%"></div>
    </div>
	</div>
	<% @posts.shuffle.each do |post| %>
	  <%= render "museum_row", post: post, ticket: @ticket  %>
	<% end %>
</div>
	<% if admin? %>
		<%= link_to "Add Museum", new_museum_path %><br>
		<%= link_to "Add Exhibit", new_exhibit_path %><br>
		<%= link_to "Add Event", new_event_path %><br>
		<%= link_to "Add Piece", new_piece_path %><br>
		<%= link_to "See Backend Numbers", tickets_stats_path %>
	<% end %>
