<div class= "row masonry-container">
	<%= link_to "http://www.medici-app.com", :target => "_blank" do%>
	<div class= "hidden-xs app-advertisement post-wrapper">
		<div class="thumbnail">

				 <%= image_tag("app-img.png") %>
					<div class="caption">
						<div class="thumbnail-header">
						</div>
						<h3 class="mobile-title">App Coming Soon</h3>
						<p>The first mobile way to discover, reserve and share your museum visit.</p>
					</div>
				</div>
				<div class="progress">
			<div class="progress-bar progress-bar-striped" style= "width: 100%"></div>
		</div>
		<% end %>
	</div>

	<% if !@main_post.nil? %>
		<%= link_to @main_post do %>
		<div class="post-wrapper event-panel">
			<div class="thumbnail">
			<%= image_tag(@main_post.photo.url(:large)) %>
			<div class="caption">

				<div class="thumbnail-header">
					<h3><%= @main_post.name %></h3>
					<% if @main_post.is_a?(Piece) %>
					<% elsif @main_post.price == 0.0 %>
						<p>
							FREE
						</p>
					<% else %>
					<p> $<%= '%i' % @main_post.price %>
						<% if defined? @main_post.exhibits.sort.first.price %>
						- $<%= '%i' % @main_post.exhibits.sort.first.price %>
						<% end %> </p>
					<% end %>
				</div>
				<p><%= @main_post.blurb %></p>

				<div>
					<% if current_user && @main_post.is_a?(Event)%>
						<% if current_order.tickets.length > 0 %>
							<div class="input-group-btn">
								<%= link_to "Check Out", cart_path(id: current_user.id), class: "input-button" %>
							</div>
						<% else %>
							<%= form_for @ticket, remote: true do |f| %>
								<div class="input-group">
									<div class="input-group-btn">
										<%= f.hidden_field :quantity, value: 1%>
										<%= f.hidden_field :event_id, value: @main_post.id %>
										<%= f.hidden_field :user_id, value: current_user.id %>
										<%= f.submit "Purchase Tickets", class: "input-button" %>
									</div>
								</div>
							<% end %>
						<% end %>
					<% elsif @main_post.is_a?(Event) %>
						<%= link_to "Sign in to buy tickets!", new_user_session_path, class: "input-button" %>
					<% end %>
				</div>
				<% if @main_post.tags.length > 2 %>
					<% @main_post.tags[0..1].each do |tag| %>
						<%= link_to "##{tag.name}, ", tag, type: "button", class: "row-tags" %>
					<% end %>
						<%= link_to "##{@main_post.tags[2].name}", @main_post.tags[2], type: "button", class: "row-tags" %>
				<% end %>
			</div>
		</div>
		<% end %>
		<div class="progress">
			<div class="progress-bar progress-bar-striped" style= "width: 100%"></div>
		</div>
	</div>
	<% end %>
	<% @posts.shuffle.each do |post| %>
	  <%= render "museum_row", post: post, ticket: @ticket  %>
	<% end %>
</div>
	<% if admin? %>
		<%= link_to "Add Museum", new_museum_path %><br>
		<%= link_to "Add Exhibit", new_exhibit_path %><br>
		<%= link_to "Add Event", new_event_path %><br>
		<%= link_to "Add Piece", new_piece_path %><br>
		<%= link_to "See Backend Numbers", tickets_stats_path %>
	<% end %>
