<% if admin? %>
  <%= link_to "Add Museum Tags", "#{@museum.id}/tagging" %>
  <%= link_to "Edit Museum", edit_museum_path %>
<% end %>

<%= render "shared/post_show_row", exhibit: @museum, museum: @museum, ticket: @ticket  %>
<% if @exhibits[0] != nil %>
  <h2> Exhibits & Events </h2>
  <div class= "row masonry-container">
    <% @exhibits.each do |exhibit| %>
      <% if exhibit.is_a?(Exhibit) %>
				<%= render "exhibit_row", post: exhibit, ticket: @ticket %>
			<% elsif exhibit.is_a?(Event) %>
				<%= render "event_row", post: exhibit, ticket: @ticket %>
			<% elsif exhibit.is_a?(Museum) %>
				<%= render "museum_row", post: exhibit, ticket: @ticket %>
			<% elsif exhibit.is_a?(Piece) %>
				<%= render "piece_row", post: exhibit, ticket: @ticket %>
			<% end %>
    <% end %>
  </div>
<% end %>
