<%= form_tag({controller: "taggings", action: "create"}, method: "post") do %>
  <%= hidden_field_tag(:type_id, @type_id) %>
  <%= hidden_field_tag(:type, @type) %>

  <%= label_tag(:name, "Name of Tag:") %>
  <%= text_field_tag(:name) %><br><br>
  <%= label_tag(:category, "Category of Tag:") %>
  <%= select_tag(:category, options_for_select(Tag.get_all_categories)) %><br><br>

  <%= submit_tag("Submit")%>
<% end %>

<% if @tag_errors %>
<% @tag_errors.each do |er| %>
  <p><%= er %></p>
  <% end %>
<% end %>
