<h2>Thank you for your purchase!</h2>
<p>

    <label class="subtotal">
      <span>Subtotal: <%= number_to_currency(@amount * 0.01) %></span>
    </label>
</p>
<% if @discount_amount %>
  <p>
    <label class="coupon">
      <span>Coupon: <%= @coupon.code %></span>
    </label>
  </p>
    <p>
      <label class="savings">
        <span>Savings: <%= number_to_currency(@discount_amount * 0.01) %></span>
      </label>
    </p>
  <p>
    <label class="discount">
      <span>Discount: <%= @coupon.discount_percent_human %></span>
    </label>
  </p>
<% end %>
<p>
  <label class="total">
    <span>Total: <%= number_to_currency(@charge.amount * 0.01) %></span>
  </label>
</p>


<h3>You're ticket has been emailed to you. Check your inbox for your ticket!</h3>
