<div class="container-sign-in">
  <div class="panel panel-sign-in">
    <div class="panel-heading">
      <div class= "header-wrapper">
        <p id="header">Confirm Payment</p>

        <%= form_tag charges_path do %>
          <article>
            <% if flash[:error].present? %>
              <div id="error_explanation">
                <p class="coupoin-error"><%= flash[:error] %></p>
              </div>
            <% end %>
            <label class="amount">
              <p>
                Amount: <%= @amount %>
              </p>
            </label>
          </article>

            <%= label_tag(:couponCode, 'Coupon:') %>
            <%= text_field_tag(:couponCode) %>

            <p>(Discount will be applied after credit card verification)</p>

          <% if @amount.to_i == 0 %>
            <%= link_to "Get your tickets!", charges_redemption_path %>
          <% else %>
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                    data-description="Total"
                    data-amount=<%= @display_amount %>
                    data-locale="auto"></script>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>
