<!DOCTYPE html>
<html>
  <head>
    <title>Medici</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAc7bgkQoYVVLBCkZtxYPzzWCogA-3LmNY&callback=initMap" async defer></script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CDN references -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.js"></script>
    <script src= "https://cdn.jsdelivr.net/masonry/4.1.1/masonry.pkgd.min.js"></script>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <%= favicon_link_tag 'm_fav.jpg' %>
    <meta name="google-site-verification" content="GcGNYhaeYWfnn0PHEB8CE0fgHlg0WkpaKPou3aN18CQ" />
  </head>

  <body>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <div class="container-fluid">
      <div class="row nav-row">
        <div class="col-sm-3 col-lg-2">
          <nav class="navbar navbar-default navbar-fixed-side">
            <div class="container">

              <div class="navbar-header">

                <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>

                <% if current_user && !current_user.image_url.nil? %>
                  <%= link_to image_tag(current_user.image_url + "?type=large"), user_path(current_user), class: "navbar-left hidden-xs avatar"%>
                <% elsif current_user && !current_user.avatar_file_name.nil? %>
                    <%= link_to image_tag(current_user.avatar.url(:large)), user_path(current_user), class: "navbar-left hidden-xs avatar"%>
                <% end %>
                <%= link_to image_tag("Medici_logos/MediciLogo_final.jpg"), root_path, class: "navbar-left hidden-xs main-logo"%>
                <% if current_user %>

                  <%= link_to " #{current_user.name}!", user_path(current_user), class: "navbar-brand user-name" %>
                <% end %>
              </div>

              <div class="collapse navbar-collapse">
                <% if !@search_show %>
                  <div id= "search-wrapper">
                    <%= form_tag(exhibits_search_show_path, :method => "get", id: "search-form") do %>
                      <i class="fa fa-search" aria-hidden="true" style="font-size: 20px"></i>
                      <%= text_field_tag :search, params[:search], placeholder: "search" %>
                    <% end %>
                  </div>
                <% end %>
                <% if @user_page && !current_user.avatar_file_name.nil? %>
                <button type="button"class="list-group-item">
                  <%= link_to "edit profile", edit_user_registration_path %>
                </button>
                <% end %>
                <% unless @user_page || @show_page %>
                  <label class="checkbox-wrapper" for="museum-toggle">
                    <input type="checkbox" id="museum-toggle" class="hidden" checked>
                    <div class=" well museum-label-toggle"></div>
                    <label for="museum-toggle"><p>museums</p></label>
                  </label>
                  <label class="checkbox-wrapper" for="exhibit-toggle">
                    <input type="checkbox" id="exhibit-toggle" class="hidden" checked>
                    <div class=" well exhibit-label-toggle"></div>
                    <label for="exhibit-toggle"><p>exhibits</p></label>
                  </label>
                  <label class="checkbox-wrapper" for="event-toggle">
                    <input type="checkbox" id="event-toggle" class="hidden" checked>
                    <div class=" well event-label-toggle"></div>
                    <label for="event-toggle"><p>events</p></label>
                  </label>
                <% end %>

                <% if current_user %>
                <button type="button"class="list-group-item">
                  <span class="glyphicon glyphicon-shopping-cart"></span>
                  <%= link_to "checkout", cart_path(current_user.id) %>
                  <%if current_order.tickets.where(paid: false).size > 0 %>
                    <span class="badge"> <%= "#{current_order.tickets.size}" %> </span>
                  <% end %>
                </button>
                  <button type="button"class="list-group-item">
                    <%= link_to "logout", destroy_user_session_path, :method => :delete %>
                  </button>
                <% else %>

                  <%= button_to "Log in", new_user_session_path, type: "button", id: "log-in-button", class: "list-group-item" %>
                  <%= button_to "Sign up", new_user_registration_path, type: "button", id: "log-in-button", class: "list-group-item", method: :get %>

                  <button type="button"class="list-group-item">
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                    <a href="#">check out</a>
                    <%if current_order.tickets.where(paid: false).size > 0 %>
                    <span class="badge"> <%= "#{current_order.tickets.size}" %> </span>
                    <% end %>
                  </button>
                <% end %>
              </div>
              <footer class="social-footer hidden-xs">
              <%= link_to "https://www.facebook.com/medicimuseums" do %>
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
              <% end %>
              <%= link_to "https://www.instagram.com/medicimuseums/" do %>
                <i class="fa fa-instagram" aria-hidden="true"></i>
              <% end %>
              <%= link_to "https://twitter.com/medicimuseums" do %>
                <i class="fa fa-twitter-square" aria-hidden="true"></i>
              <% end %>
              <p class= "text-muted">Medici LLC&copy;</p>
            </footer>
            </div>
          </nav>
        </div>
        <div class="col-sm-9 col-lg-10 content">

          <%= yield %>
        <div id="color-hack"></div>
        </div>
      </div>
    </div>
  </body>
</html>
